################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/A10/FileContentIndex/f302ae53-040c-4c82-bfcb-579d4adfae0c.vsidx
/.vs/A10/FileContentIndex/ba87d97c-057a-4158-917c-1f44a4522812.vsidx
/.vs/A10/FileContentIndex/939034c0-9205-451f-89e5-fa41ed17b072.vsidx
/.vs/A10/FileContentIndex/3e23b8ae-ceb0-488b-8fec-46b1dce6419a.vsidx
/.vs/A10/FileContentIndex
