################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/A10/FileContentIndex/f302ae53-040c-4c82-bfcb-579d4adfae0c.vsidx
/.vs/A10/FileContentIndex/ba87d97c-057a-4158-917c-1f44a4522812.vsidx
/.vs/A10/FileContentIndex/939034c0-9205-451f-89e5-fa41ed17b072.vsidx
/.vs/A10/FileContentIndex/3e23b8ae-ceb0-488b-8fec-46b1dce6419a.vsidx
/.vs/A10/FileContentIndex
/obj/Debug/net6.0-windows/A10.designer.runtimeconfig.json
/obj/Debug/net6.0-windows/A10.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0-windows/A10.assets.cache
/obj/A10.vbproj.nuget.dgspec.json
/obj/A10.vbproj.nuget.g.props
/obj/roject.assets.json
/obj/project.nuget.cache

/.vs/A10/v17/.suo

/bin/Debug/net6.0-windows/A10.dll
/bin/Debug/net6.0-windows/A10.exe
/bin/Debug/net6.0-windows/A10.pdb

/obj/Debug/net6.0-windows/ref/A10.dll
/obj/Debug/net6.0-windows/refint/A10.dll

/obj/Debug/net6.0-windows/A10.assets.cache
/obj/Debug/net6.0-windows/A10.designer.runtimeconfig.json
/obj/Debug/net6.0-windows/A10.dll
/obj/Debug/net6.0-windows/A10.genruntimeconfig.cache
/obj/Debug/net6.0-windows/A10.pdb
/obj/Debug/net6.0-windows/A10.vbproj.CoreCompileInputs.cache
/obj/Debug/net6.0-windows/A10.vbproj.GenerateResource.cache
/obj/Debug/net6.0-windows/apphost.exe

/obj/A10.vbproj.nuget.dgspec.json
/obj/A10.vbproj.nuget.g.props
/obj/Debug/net6.0-windows/A10.GeneratedMSBuildEditorConfig.editorconfig
/obj/project.assets.json
/obj/project.nuget.cache
/obj/Debug/net6.0-windows/A10.NotificationForm.resources
/obj/Debug/net6.0-windows/A10.LowBatteryNotificationForm.resources
/obj/Debug/net6.0-windows/A10.ChooseStationForm.resources
/obj/Debug/net6.0-windows/A10.CarRouteChangeForm.resources
/obj/Debug/net6.0-windows/A10.CarMediaForm.resources
/obj/Debug/net6.0-windows/A10.CarListControl.resources
/obj/Debug/net6.0-windows/A10.CarFeaturesForm.resources
/obj/Debug/net6.0-windows/A10.CarDiagnosticForm.resources
/obj/Debug/net6.0-windows/A10.CallForm.resources
/obj/Debug/net6.0-windows/A10.CalendarSchedulingForm.resources
/obj/Debug/net6.0-windows/A10.CalendarSchedulingControl.resources
/obj/Debug/net6.0-windows/A10.CalendarConfirmForm.resources
/obj/Debug/net6.0-windows/A10.CalendarCarSelectForm.resources
/obj/Debug/net6.0-windows/A10.BookingRequestResponseForm.resources
/obj/Debug/net6.0-windows/A10.BookingRequestForm.resources
/obj/Debug/net6.0-windows/A10.AppForm.resources
/obj/Debug/net6.0-windows
/.editorconfig
